---
# Per environment values which override defaults in prisoner-contact-registry/values.yaml
generic-service:
  replicaCount: 2

  ingress:
    host: prisoner-contact-registry-staging.prison.service.justice.gov.uk

  env:
    SPRING_PROFILES_ACTIVE: "stdout"
    HMPPS_AUTH_URL: https://sign-in-dev.hmpps.service.justice.gov.uk/auth
    PERSONAL_RELATIONSHIPS_API_URL: https://personal-relationships-api-dev.hmpps.service.justice.gov.uk
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json

  scheduledDowntime:
    enabled: true

generic-prometheus-alerts:
  businessHoursOnly: true